/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: rgb(255, 255, 255);
  --vt-c-white-soft: rgb(248, 248, 248);
  --vt-c-white-mute: rgb(242, 242, 242);

  --vt-c-dark: rgb(36, 36, 36);
  --vt-c-dark-soft: rgb(44, 44, 44);
  --vt-c-dark-light: rgb(75, 75, 75);

  --vt-c-indigo: rgb(44, 62, 80);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgb(75, 75, 75);
  --vt-c-divider-dark-2: var(--vt-c-divider-dark-1);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: rgb(255, 252, 242);
  --vt-c-text-dark-2: rgb(204, 197, 185);

  --vt-c-dark-input: rgb(30, 30, 30);

  --border-radius: 0.2rem;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-inverse: var(--vt-c-dark);
  --color-inverse-soft: var(--vt-c-dark-soft);
  --color-inverse-light: var(--vt-c-dark-light);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) { */
:root {
  --color-background: var(--vt-c-dark);
  --color-background-soft: var(--vt-c-dark-soft);
  --color-background-light: var(--vt-c-dark-light);
  --color-background-input: var(--vt-c-dark-input);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  --color-inverse: var(--vt-c-text-dark-2);
  --color-inverse-soft: var(--vt-c-text-dark-2);
  --color-inverse-light: var(--vt-c-white-mute);
}

/* } */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Button */

.button-home {
  background-color: var(--color-);
  border: 0;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  background-color: var(--color-inverse);
  color: #111827;
  font-size: .95rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem 1rem;
  text-decoration: none var(--color-inverse-light) solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media(max-width: 520px) {
  .button-home {
    padding: 0.4em .8rem;
  }
}

.button-home:hover {
  background-color: var(--color-background);
  color: var(--color-text);
  box-shadow: inset 0 0 0 1px var(--color-inverse);
  cursor: pointer;
}

.button-home:focus:active {
  outline: 2px solid var(--color-text);
  background-color: var(--color-b);
  outline-offset: 2px;
}

.button-home:focus-visible {
  box-shadow: none;
}

.pointer:hover {
  cursor: pointer;
}

/* Custom Form */

.custom-form-wrapper {
  max-width: 30rem;
  margin: 0 auto;
  background-color: var(--color-background);
  padding: 2rem 3rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media(max-width: 520px) {
  .custom-form-wrapper {
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    max-width: 100%;
  }
}

.custom-form-row {
  margin-top: 1.5rem;
  text-align: start;
}

.custom-form-label-wrapper {
  font-weight: 600;
  margin-bottom: .5rem;
}

.custom-form-input-wrapper {
  background-color: var(--color-background-input);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  height: 2.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.custom-form-text-input {
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  min-width: 30%;
  padding-inline: 0.8rem;
  flex: 1;
  height: 100%;
}

.custom-form>.button-home {
  margin-top: 2rem;
  width: 100%;
}

.custom-form-link {
  text-align: left;
  margin-top: .5rem;
}

.custom-form-link>a {
  color: var(--color-text);
}