defaults 
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global 
  log stdout format raw daemon

frontend f-hootoutapi
  mode tcp
  bind *:8443 
  default_backend b-hootoutapi

backend b-hootoutapi
    mode tcp
    balance roundrobin
    option forwardfor
    server s1 backend-hootoutapi-1:8443 check
    server s2 backend-hootoutapi-2:8443 check

frontend f-hootoutwebsockets
  mode tcp
  bind *:8444   
  default_backend b-hootoutwebsockets

backend b-hootoutwebsockets
    option http-server-close
    timeout tunnel 30m
    mode tcp
    balance roundrobin
    option forwardfor
    server s3 backend-hootoutwebsockets-1:8444 check
    server s4 backend-hootoutwebsockets-2:8444 check
    # server s5 backend-hootoutwebsockets-3:8444 check
    # server s6 backend-hootoutwebsockets-4:8444 check
    # server s7 backend-hootoutwebsockets-5:8444 check
    # server s8 backend-hootoutwebsockets-6:8444 check

